<link rel="stylesheet" href="../assets/style.css">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/services">Services</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/login">Login</a></li>
</ul>

<style>

</style>
